---
title: Building -Neo200
subtitle: Building
---

<h1>Coming Soon</h1>

<div class="span3 sticky">
    <div class="well sidebar-nav">
      <ul id="side-nav" class="nav nav-list">
        <li>
          <a href="#gallery">Gallery<i class="icon-chevron-right"></i></a>
          <a href="#apartments">Apartments<i class="icon-chevron-right"></i></a>
          <a href="#common_areas">Common Areas<i class="icon-chevron-right"></i></a>
          <a href="#facilities">Facilities<i class="icon-chevron-right"></i></a>
        </li>
      </ul>
    </div><!-- /sidebar-nav -->
</div> <!-- /span3 -->

<div id="main_text" class="span8">
  <section id="gallery" class="anchor">
  <h2>Gallery</h2>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><%= tag :img, :src => '/images/pool.jpg' %></div>
      <div class="item"><%= tag :img, :src => '/images/lobby.jpg' %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </section>

  <section id="apartments" class="anchor">
  <h2>Apartments</h2>
    <p></p>
  </section>

  <section id="common_areas" class="anchor">
  <h2>Common Areas</h2>
    <p></p>
  </section>

  <section id="facilities" class="anchor">
  <h2>Facilities</h2>
    <p></p>
  </section>

</div> <!--/span8 -->




