---
title: news
---

<div class="span3 sticky">
    <div class="well sidebar-nav">
      <ul id="side-nav" class="nav nav-list">
        <li>
          <a href="#header1">Header 1 <i class="icon-chevron-right"></i></a>
          <a href="#photos">Photos <i class="icon-chevron-right"></i></a>
          <a href="#twitter">Twitter <i class="icon-chevron-right"></i></a>
          <a href="#header3">Header 3 <i class="icon-chevron-right"></i></a>
          <a href="#header4">Header 4 <i class="icon-chevron-right"></i></a>
        </li>
      </ul>
    </div><!-- /sidebar-nav -->
</div> <!-- /span3 -->

<div id="main_text" class="span8">
  <section id="header1" class="anchor">
  <h2>Heading 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper lacus ut urna pretium dignissim. Integer ipsum lorem, lobortis vitae eleifend ac, condimentum sit amet turpis. Maecenas consequat malesuada lorem eget posuere. Maecenas purus metus, pellentesque nec mollis vel, luctus in sapien. Aenean dapibus semper eros, at gravida sapien bibendum a. Fusce nunc quam, viverra vitae volutpat a, posuere ac nisi. Maecenas tortor turpis, semper nec accumsan sit amet, egestas eu elit. Vivamus elit quam, feugiat vitae dapibus vel, pulvinar eu metus. Curabitur tortor lorem, facilisis vitae pellentesque egestas, blandit sed dui. Nulla facilisi.</p>
  </section>

  <section id="photos" class="anchor">
  <h2>Photos</h2>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><%= tag :img, :src => '/images/pool.jpg' %></div>
      <div class="item"><%= tag :img, :src => '/images/lobby.jpg' %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </section>

  <section id="twitter" class="anchor">
  <h2>Twitter</h2>

  <a class="twitter-timeline" href="https://twitter.com/Neo200SpencerSt" data-widget-id="262379807768182784">Tweets by @Neo200SpencerSt</a>

  <p>Suspendisse potenti. Suspendisse potenti. Quisque justo augue, gravida et tristique vitae, imperdiet vel sem. Quisque et ipsum sed eros sollicitudin dapibus. Sed semper eleifend ipsum, non tristique massa sollicitudin at. Praesent pulvinar turpis in odio auctor rhoncus quis sed mi. Nunc consectetur consectetur libero vitae porttitor. Etiam feugiat venenatis sagittis. Aliquam quam magna, scelerisque et auctor non, ultrices eu tortor.</p>
  </section>

  <section id="header3" class="anchor">
  <h2>Heading 3</h2>
  <p>Nullam posuere ligula nec justo malesuada vitae congue metus gravida. Nulla eu purus sapien, vitae faucibus neque. In tincidunt auctor nibh, eu eleifend nisi semper sed. Sed egestas sodales consequat. Mauris eu ante lorem. Sed felis mi, mattis sit amet lobortis sed, varius quis est. Donec rutrum leo a ligula scelerisque placerat. Aenean tellus risus, commodo sit amet tempus sed, malesuada a risus. Cras lacinia vehicula egestas. Nunc in erat augue. Nullam adipiscing elementum odio, eu euismod sapien bibendum a. Donec egestas magna eget orci ultricies facilisis. Sed sollicitudin faucibus eros eu adipiscing. Nunc tincidunt nisl sit amet neque aliquet gravida.</p>
  </section>

  <section id="header4" class="anchor">
  <h2>Heading 4</h2>
  <p>Maecenas eget orci ut arcu elementum accumsan interdum eget magna. Ut molestie magna vitae lorem bibendum id tincidunt est varius. Integer et nisi velit, eget fermentum libero. Morbi sagittis mi vitae nunc aliquam et pellentesque nibh elementum. Sed leo orci, lacinia egestas tincidunt id, adipiscing nec risus. Donec iaculis, libero at feugiat dignissim, purus eros porta leo, interdum rhoncus erat lectus at tortor. Phasellus scelerisque tellus in tellus venenatis convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </section>
</div> <!--/span8 -->